.cart-item {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-top: solid 1px var(--color-second);
  border-bottom: solid 1px var(--color-second);

  .cart-item-image {
    width: 3rem;
  }
  .cart-item-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 7rem;

    .cart-item-price {
      color: var(--color-second);
    }
  }
  .cart-item-count-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    border-top: 1px solid var(--color-second);
    border-bottom: 1px solid var(--color-second);

    .cart-item-count {
      width: 1.5rem;
      text-align: center;
    }
  }
  .delete-item {
    position: absolute;
    right: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .cart-item {
    padding: 1rem 0;

    .cart-item-description {
      width: 6rem;
    }
    .delete-item {
      position: absolute;
      right: -0.1rem;
    }
  }
}